/* Content
==================================================
	Variables
	Item list search
	Item list
		Item list image
		Item list description
		Item list price
		Item list buttons
	Item detail
		Item detail overview
		Item detail menu
		Item detail content
		Item detail video
		Item detail map
		Item detail booking form
	Carrousel
	Buttons
*/
/* Variables
================================================== */
/* Item list search
================================================== */
.tim_list_search {
  margin-bottom: 30px;
  border-radius: 3px;
  padding: 8px 12px;
}
.tim_list_search select {
  height: 30px;
  border-radius: 3px;
  border: none;
  padding: 0 10px;
  /*display: block;*/
  margin-bottom: 5px;
  width: 100%;
}
.tim_list_search input[type="submit"] {
  height: 30px;
  padding: 5px 20px;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  display: inline;
  width: 100%;
  margin: 0 0 5px 0;
}
.tim_list_search_view {
  display: none;
}
/* Item list
================================================== */
.tim_list {
  text-align: justify;
}
.tim_list img {
  width: 100%;
}
.tim_list:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.tim_item {
  box-shadow: 0px 1px 10px #ddd;
  border-radius: 3px;
  margin-bottom: 30px;
  display: inline-block;
  overflow: hidden;
}
.tim_list.tim_list_view .tim_item {
  width: 100%;
}
.tim_item_image {
  line-height: 0;
  position: relative;
}
.tim_item_image span.rollover {
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition: -webkit-transform 1s;
  background: url(../img/search.png) center center no-repeat #000;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  opacity: 0;
}
.tim_item_image span.rollover:hover {
  opacity: 0.6;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition: -webkit-transform 1s;
}
.tim_item_image_icons {
  position: absolute;
  margin-top: -20px;
  z-index: 20;
  line-height: normal;
}
.tim_item_image_icons a {
  line-height: normal;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  margin: -27px 20px 0;
  text-align: center;
  padding-top: 5px;
}
.tim_item_desc {
  padding: 10px 20px 0;
}
.tim_item_desc_title {
  padding: 0 0 10px;
  line-height: normal;
  margin: 0 !important;
}
.tim_item_desc_title a {
  text-decoration: none;
  font-size: 22px;
}
.tim_item_desc_title span {
  font-size: 13px;
  top: -5px;
  position: relative;
}
.tim_item_price {
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  padding: 10px 0 0;
}
.tim_item_price_box {
  margin-top: 20px;
}
.tim_item_price_amount {
  font-size: 34px;
}
.tim_item_price_label {
  margin: 5px 0 20px;
  line-height: normal;
}
.tim_item_price_label span {
  font-size: 10px;
}
.tim_item_price_image {
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: right;
}
.tim_item_price_image_button {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0px 20px;
  background: none repeat scroll 0% 0%;
  border-radius: 3px 0px 0px;
  font-size: 1.333em;
  font-family: Oxygen;
  font-weight: 700;
  font-style: normal;
}
/*.tim_item_featured{
	z-index: 5000;
	line-height: normal;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	position: absolute;
	text-align: center;
	margin: 170px 0 0 10px;
}*/
.tim_item_image_angle_wrap {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 20;
  opacity: 0.9;
}
.tim_item_image_angle {
  width: 200px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  top: 20px;
  left: -67px;
  transform: rotate(-45deg);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
}
.tim_item_btn,
.tim_item_btn:visited {
  border-radius: 3px;
  padding: 8px 20px;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 11px;
}
/* Item detail
================================================== */
.tim_detail_title h1 {
  float: left;
  padding: 0;
  margin: 0;
}
.tim_detail_title span {
  top: 5px;
  position: relative;
  margin-left: 5px;
}
.tim_detail_title em {
  clear: both;
  display: block;
  position: relative;
  top: -20px;
  line-height: 16px;
}
.tim_detail_overview {
  padding: 0 20px;
  border-radius: 4px;
}
.tim_detail_overview .tim_detail_line_label {
  padding-bottom: 0;
  font-size: 12px !important;
}
.tim_detail_overview .tim_detail_line:last-child {
  border-bottom: none;
}
.tim-swipper-detail img {
  height: 200px;
}
.tim_detail_menu_wrap {
  border-radius: 3px;
  margin-top: 20px;
  line-height: normal;
  overflow: hidden;
}
.tim_detail_menu li {
  display: inline;
}
.tim_detail_menu a {
  padding: 12px 14px;
  text-decoration: none;
  float: left;
  text-align: center;
  border: 1px solid transparent;
}
.tim_detail_menu a span {
  display: block;
  text-align: center;
  font-size: 9px;
}
.tim_tab_content {
  display: none;
}
.tim_tab_content.active {
  display: inline-block;
}
.tim_detail_content {
  margin-bottom: 30px;
}
.tim_detail_desc {
  padding-top: 20px;
}
.tim_detail_desc h2 {
  margin: 0;
  padding-bottom: 10px;
}
.tim_detail_line {
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
}
.tim_detail_line_label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 5px;
}
.tim_detail_line_label .fa {
  width: 27px;
}
.tim_detail_line_content {
  margin-left: 27px;
}
.tim_detail_video {
  width: 100%;
}
.tim_detail_map_wrap {
  position: relative;
}
.tim_detail_map {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.tim_detail_map_hr {
  padding-top: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid #e1e1e1;
}
.tim_detail_map_labels {
  position: absolute;
  left: 8px;
  padding: 8px 12px;
  background: #fff none repeat scroll 0% 0%;
  z-index: 300;
  font-weight: 300;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  top: 8px;
  max-width: 95%;
  min-width: 150px;
  font-size: 12px;
}
.tim_detail_map_labels .fa {
  width: 15px;
}
.tim_detail_booking_form {
  box-shadow: 0px 1px 10px #ccc;
  border-radius: 3px;
}
.tim_detail_booking_form h4 {
  padding: 15px 20px;
  margin: 0;
}
.tim_detail_booking_form form {
  padding: 20px;
}
.tim_detail_booking a {
  font-weight: 700;
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #fff;
}
.tim_detail_day h3 {
  padding-bottom: 10px;
}
.tim_detail_day img {
  margin-bottom: 10px;
}
.tim_detail_day .tim_detail_day_number {
  background: #4A525D;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
  display: inline-block;
}
.tim_detail_day .fa {
  background: #e1e1e1;
  border-radius: 6px;
  padding: 6px;
  margin: 0 5px 5px 0;
  width: 27px;
  text-align: center;
}
/* Carrousel
================================================== */
.tim_list_carrousel {
  width: 100%;
  padding: 0 3px;
}
.tim_list_carrousel .swiper-wrapper {
  box-sizing: inherit !important;
}
.tim_list_carrousel .swiper-button-prev,
.tim_list_carrousel .swiper-button-next {
  bottom: 10px;
  border-radius: 50%;
  right: 2px;
  top: auto;
  width: 24px;
  height: 24px;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 7px 24px;
  z-index: 5000;
}
.tim_list_carrousel .swiper-wrapper {
  margin-bottom: 12px;
}
/* Buttons
================================================== */
.tim-btn,
.tim-btn:visited {
  border-radius: 3px;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  font-weight: 700;
  padding: 9px 20px 7px;
}
.tim-btn.tim-btn-lg {
  font-size: 16px;
  padding: 13px 30px 12px;
  font-weight: 500;
}
.tim-btn.tim-btn-sm {
  padding: 5px 10px 3px;
  font-weight: 500;
}
/* Common styles
================================================== */
.tim_tags {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
.tim_tags li {
  display: inline;
  padding: 8px 10px;
  background: #f5f5f5;
  border-radius: 4px;
}
.tim_tags li .fa {
  padding-right: 6px;
}
.tim_item .tim_tags li {
  display: block;
  margin-bottom: 6px;
}
/*---------------------------------
	TABLET & SMALLER LAPTOPS
	The average viewing window and preferred media query for those is 768px. But I think that some more breathing space is good:)
-----------------------------------*/
@media only screen and (min-width: 920px) {
  /* Item list search
	================================================== */
  .tim_list_search select {
    display: inline;
    width: auto;
    margin-bottom: 0;
  }
  .tim_list_search input[type="submit"] {
    width: auto;
    margin: 0 10px 0 0;
  }
  .tim_list_search_filter_form,
  .tim_list_search_sort_form {
    display: inline;
    margin: 0 10px 0 5px;
  }
  .tim_list_search_view {
    display: inline;
    float: right;
    padding-top: 3px;
  }
  .tim_list_search_view a {
    text-decoration: none !important;
  }
  /* Item list
	================================================== */
  .tim_list_view .tim_item_price {
    padding: 20px 0;
    top: 25px;
    position: relative;
    border-left: 1px solid #eee;
    height: 175px;
  }
  .tim_list_view .tim_item_desc_title {
    margin: 0 !important;
  }
  .tim_list_view .tim_item_desc_title a {
    font-size: 26px;
  }
  .tim_list_view .tim_item_desc {
    padding: 20px 10px;
  }
  .tim_list_view .tim_item_desc p {
    margin: 0 0 10px !important;
  }
  /* Item detail
	================================================== */
  .tim_detail_overview {
    height: 400px;
  }
  .tim-swipper-detail {
    height: 400px;
  }
  .tim-swipper-detail img {
    height: auto;
  }
  .tim_detail_menu_wrap {
    height: 42px;
    background: none;
    border-radius: 0;
  }
  .tim_detail_menu a {
    margin-right: 6px;
    border-radius: 6px 6px 0 0;
  }
  .tim_detail_menu a .fa {
    padding-right: 10px;
  }
  .tim_detail_menu a.active,
  .tim_detail_menu a.active:hover {
    background: #fff;
    color: #333;
    border: 1px solid #ddd;
  }
  .tim_detail_menu a span {
    display: inline;
    font-size: 13px;
  }
  .tim_detail_content {
    border-top-width: 3px;
    border-top-style: solid;
    margin-top: -3px;
  }
  .tim_detail_line_content {
    margin-left: 0;
  }
  .tim_detail_video {
    height: 400px;
  }
  .tim_detail_map {
    height: 380px;
  }
  li.tim_detail_booking {
    display: none;
  }
  .tim_detail_day img {
    width: 30%;
    margin-left: 30px;
    float: right;
  }
  .tim_detail_day .tim_detail_day_desc {
    overflow: hidden;
  }
  /* Carrousel
	================================================== */
  .tim_list_carrousel {
    height: auto;
  }
  .tim_list_view .tim_tags li {
    display: inline;
    margin-bottom: 0;
  }
}
